body {
  margin: 0px;
  padding: 0px;
}

.hero_section {
  position: relative;
}
.hero_section img {
  width: 100%;
  height: auto;
}
.hero_text_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px auto;
  height: 100%;
  display: flex;
  width: 1024px;
  /* height: 640px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  /* background-color: red; */
}
.beautiful_selection {
  color: #9c4330;
  text-align: center;
  /* material-theme/title/medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin: 0px;
}
.exquisitely_c_j_c {
  width: 560px;
  color: #3e0500;
  /* material-theme/display/medium */
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 115.556% */
  margin: 0px;
}

.hero_text_sub_div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.s_o_w_s_o_h {
  width: 496px;
  color: #3e0500;
  /* material-theme/body/medium */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.shop_button {
  display: flex;
  padding: 10px 24px 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #9c4330;
  border: 0px;
  cursor: pointer;

  text-align: center;
  /* material-theme/label/large */
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
